In [2]:
import numpy as np
import pandas as pd
from itertools import groupby

In [3]:
train = pd.read_parquet('D:/child-mind-institute-detect-sleep-states/train_series.parquet')
test  = pd.read_parquet('D:/child-mind-institute-detect-sleep-states/test_series.parquet')

In [4]:
print(train.head())
print(test.head())

      series_id  step                 timestamp  anglez    enmo
0  038441c925bb     0  2018-08-14T15:30:00-0400  2.6367  0.0217
1  038441c925bb     1  2018-08-14T15:30:05-0400  2.6368  0.0215
2  038441c925bb     2  2018-08-14T15:30:10-0400  2.6370  0.0216
3  038441c925bb     3  2018-08-14T15:30:15-0400  2.6368  0.0213
4  038441c925bb     4  2018-08-14T15:30:20-0400  2.6368  0.0215
      series_id  step                 timestamp  anglez    enmo
0  038441c925bb     0  2018-08-14T15:30:00-0400  2.6367  0.0217
1  038441c925bb     1  2018-08-14T15:30:05-0400  2.6368  0.0215
2  038441c925bb     2  2018-08-14T15:30:10-0400  2.6370  0.0216
3  038441c925bb     3  2018-08-14T15:30:15-0400  2.6368  0.0213
4  038441c925bb     4  2018-08-14T15:30:20-0400  2.6368  0.0215

In [5]:
# value count & unique & Null Count
train.info()
print()
print(train.isnull().sum() / len(train) * 100)
print()

for i in train.columns:
    print('\33[103m', i, '\33[0m')
    print(train[i].value_counts())
    uu = str(train[i].unique())
    print(train[i].dtype)
    print('\33[91m' + uu +  '\033[0m')
    print('\33[94m' + 'Null Count :' + '\033[0m', train[i].isnull().sum())
    print('ðŸŒˆ')
    print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127946340 entries, 0 to 127946339
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   series_id  object
 1   step       uint32
 2   timestamp  object
 3   anglez     float32
 4   enmo       float32
dtypes: float32(2), object(2), uint32(1)
memory usage: 3.3+ GB

series_id    0.0
step         0.0
timestamp    0.0
anglez       0.0
enmo         0.0
dtype: float64

 series_id
78569a801a38    1433880
f564985ab692    1052820
fb223ed2278c     918360
f56824b503a0     846360
cfeb11428dd7     809820
                 ...
c535634d7dcd     136080
1c7c0bad1263     115380
60e51cad2ffb     113940
3a9a9dc2cbd9     103500
349c5562ee2c      37080
Name: series_id, Length: 277, dtype: int64
object
['038441c925bb' '03d92c9f6f8a' '0402a003dae9' '04f547b8017d'
 '05e1944c3818' '062cae666e2a' '062dbd4c95e6' '08db4255286f'
 '0a96f4993bd7' '0cd1e3d0ed95' '0ce74d6d2106' '0cfc06c129cc'
 '0d0ad1e77851' '0dee4fda51c3' '0ec9fc461819' '0ef7d94fde99'
 '0f572d690310' '0f9e60a8e56d' '10469f6765bf' '1087d7b0ff2e'
 '10f8bc1f7b07' '12d01911d509' '1319a1935f48' '137771d19ca2'
 '137b99e936ab' '13b4d6a01d27' '148471991ffb' '154fe824ed87'
 '16fe2798ed0f' '1716cd4163b2' '1762ab70ec76' '188d4b7cd28b'
 '18a0ca03431d' '18b61dd5aae8' '1955d568d987' '1b92be89db4c'
 '1c7c0bad1263' '1d4569cbac0f' '1e6717d93c1d' '1f96b9668bdf'
 '207eded97727' '25e2b3dd9c3b' '2654a87be968' '27f09a6a858f'
 '280e08693c6d' '292a75c0b94e' '29c75c018220' '29d3469bd15d'
 '2b0a1fa8eba8' '2b8d87addea9' '2cd2340ca14d' '2e9ced2c7976'
 '2f7504d0f426' '2fbbee1a38e3' '2fc653ca75c7' '31011ade7c0a'
 '3318a0e3ed6f' '33ceeba8918a' '3452b878e596' '349c5562ee2c'
 '35826366dfc7' '361366da569e' '3664fe9233f9' '3665c86afaf5'
 '390b487231ce' '3a9a9dc2cbd9' '3aceb17ef7bd' '3be1545083b7'
 '3be2f86c3e45' '3c336d6ba566' '3d53bfea61d6' '3df0da2e5966'
 '405df1b41f9f' '40dce6018935' '416354edd92a' '449766346eb1'
 '44a41bba1ee7' '44d8c02b369e' '4743bdde25df' '483d6545417f'
 '4a31811f3558' '4ab54be1a403' '4ac356361be9' '4b45c36f8f5a'
 '4feda0596965' '519ae2d858b0' '51b23d177971' '51c49c540b4e'
 '51fdcc8d9fe7' '559ffb7c166a' '55a47ff9dc8a' '55b7f5c99930'
 '599ca4ed791b' '5aad18e7ce64' '5acc9d63b5fd' '5c088d7e916c'
 '5c55a5e717d6' '5e816f11f5c3' '5f40907ec171' '5f76965e10cf'
 '5f94bb3e1bed' '5ffd5e1e81ac' '601559e1777d' '60d31b0bec3b'
 '60e51cad2ffb' '612aa8ba44e2' '653622ac8363' '655f19eabf1e'
 '67f5fc60e494' '694faf956ebf' '6a4cd123bd69' '6bf95a3cf91c'
 '6ca4f4fca6a2' '6d6b9d22d48a' '6ee4ade1f2bd' '702bb5387b1e'
 '703b5efa9bc1' '72ba4a8afff4' '72bbd1ac3edf' '72d2234e84e4'
 '73fb772e50fb' '7476c0bd18d2' '7504165f497d' '752900afe3a6'
 '76237b9406d5' '77ca4db83644' '7822ee8fe3ec' '78569a801a38'
 '785c9ca4eff7' '7df249527c63' '7fd4284b7ee8' '804594bb1f06'
 '808652a666c6' '83fa182bec3a' '844f54dcab89' '854206f602d0'
 '87a6cbb7c4ed' '8877a6586606' '8898e6db816d' '89bd631d1769'
 '89c7daa72eee' '8a22387617c3' '8a306e0890c0' '8b159a98f485'
 '8b8b9e29171c' '8becc76ea607' '8e32047cbc1f' '8f6f15b9f598'
 '8fb18e36697d' '90eac42a9ec9' '91127c2b0e60' '91cb6c98201f'
 '9277be28a1cf' '927dd0c35dfd' '939932f1822d' '971207c6a525'
 '99237ce045e4' '99b829cbad2d' '9a340507e36a' '9aed9ee12ae2'
 '9b9cd7b7af8c' '9c91c546e095' '9ddd40f2cb36' '9ee455e4770d'
 '9fbdeffbe2ba' 'a167532acca2' 'a261bc4b7470' 'a2b0a64ec9cf'
 'a3e59c2ce3f6' 'a4e48102f402' 'a596ad0b82aa' 'a681f9b04b21'
 'a81f4472c637' 'a88088855de5' 'a9a2f7fac455' 'a9e5f5314bcb'
 'aa81faa78747' 'ad425f3ee76d' 'aed3850f65f0' 'af91d9a50547'
 'b1831c4979da' 'b364205aba43' 'b4b75225b224' 'b7188813d58a'
 'b737f8c78ec5' 'b750c8c1556c' 'b7fc34995d0f' 'b84960841a75'
 'ba8083a2c3b8' 'bb5612895813' 'bccf2f2819f8' 'bdfce9ce62b9'
 'bf00506437aa' 'bfa54bd26187' 'bfe41e96d12f' 'c107b5789660'
 'c289c8a823e0' 'c3072a759efb' 'c38707ef76df' 'c535634d7dcd'
 'c5365a55ebb7' 'c5d08fc3e040' 'c6788e579967' 'c68260cc9e8f'
 'c75b4b207bea' 'c7b1283bb7eb' 'c7b2155a4a47' 'c7d693f24684'
 'c8053490cec2' 'c908a0ad3e31' 'ca730dbf521d' 'ca732a3c37f7'
 'cca14d1966c1' 'ccdee561ee5d' 'ce85771a714c' 'ce9164297046'
 'cf13ed7e457a' 'cfeb11428dd7' 'd043c0ca71cd' 'd0f613c700f7'
 'd150801f3145' 'd25e479ecbb7' 'd2d6b9af0553' 'd2fef7e4defd'
 'd3dddd3c0e00' 'd515236bdeec' 'd5be621fd9aa' 'd5e47b94477e'
 'd8de352c2657' 'd93b0c7de16b' 'd9e887091a5c' 'dacc6d652e35'
 'db5e0ee1c0ab' 'db75092f0530' 'dc80ca623d71' 'de6fedfb6139'
 'def21f50dd3c' 'df33ae359fb5' 'dfc3ccebfdc9' 'dff367373725'
 'e0686434d029' 'e0d7b0dcf9f3' 'e11b9d69f856' 'e1f2a4f991cb'
 'e1f5abb82285' 'e2a849d283c0' 'e2b60820c325' 'e30cb792a2bc'
 'e34b496b84ce' 'e4500e7e19e1' 'e586cbfa7762' 'e69aff66e0cb'
 'e6ddbaaf0639' 'e867b5133665' 'e8d0a37c3eba' 'ea0770830757'
 'ebb6fae8ed43' 'ebd76e93ec7d' 'ece2561f07e9' 'ee4e0e3afd3d'
 'eec197a4bdca' 'eef041dd50aa' 'efbfc4526d58' 'f0482490923c'
 'f2c2436cf7b7' 'f564985ab692' 'f56824b503a0' 'f6d2cc003183'
 'f7eb179216c2' 'f88e18cb4100' 'f8a8da8bdd00' 'f981a0805fd0'
 'fa149c3c4bde' 'fb223ed2278c' 'fbf33b1a2c10' 'fcca183903b7'
 'fe90110788d2']
Null Count : 0
ðŸŒˆ

 step
0          277
24769      277
24717      277
24718      277
24719      277
          ...
1179837      1
1179836      1
1179835      1
1179834      1
1433879      1
Name: step, Length: 1433880, dtype: int64
uint32
[      0       1       2 ... 1433877 1433878 1433879]
Null Count : 0
ðŸŒˆ

 timestamp
2018-12-27T10:03:30-0500    19
2019-01-03T19:29:10-0500    19
2019-01-03T19:29:20-0500    19
2019-01-03T19:29:25-0500    19
2019-01-03T19:29:30-0500    19
                            ..
2019-07-08T01:34:25-0400     1
2019-07-08T01:34:20-0400     1
2019-07-08T01:34:15-0400     1
2019-07-08T01:34:10-0400     1
2017-08-08T12:14:55-0400     1
Name: timestamp, Length: 12159540, dtype: int64
object
['2018-08-14T15:30:00-0400' '2018-08-14T15:30:05-0400'
 '2018-08-14T15:30:10-0400' ... '2017-08-08T12:14:45-0400'
 '2017-08-08T12:14:50-0400' '2017-08-08T12:14:55-0400']
Null Count : 0
ðŸŒˆ

 anglez
 0.000000     452375
-20.029499     25714
-86.181198     22262
 35.234299     20097
-47.422199     18548
               ...
 88.253700         1
 88.286301         1
 84.035500         1
 88.712601         1
 87.521103         1
Name: anglez, Length: 1790101, dtype: int64
float32
[ 2.6367  2.6368  2.637  ... 87.8595 85.2693 87.5211]
Null Count : 0
ðŸŒˆ

 enmo
0.0000    24124479
0.0001     1466868
0.0002      968471
0.0003      824859
0.0004      729765
            ...
2.5394           1
3.7582           1
3.0889           1
2.6753           1
2.7893           1
Name: enmo, Length: 34520, dtype: int64
float32
[0.0217 0.0215 0.0216 ... 2.3187 3.6117 2.7893]
Null Count : 0
ðŸŒˆ

Feature Engineering

In [6]:
for df in (train, test):
    # parse the timestamp and create an "hour" feature
    df["timestamp"] = pd.to_datetime(df["timestamp"],utc=True)
    df["hour"] = df["timestamp"].dt.hour

    # feature cross
    df["anglez_times_enmo"] = abs(df["anglez"]) * df["enmo"]
    
    # "rolling" features
    periods = 50
    df["anglez_diff"] = df.groupby('series_id')['anglez'].diff(periods=periods).fillna(method="bfill")
    df["enmo_diff"] = df.groupby('series_id')['enmo'].diff(periods=periods).fillna(method="bfill")
    df["anglez_rolling"] = df["anglez"].rolling(periods,center=True).mean().fillna(method="bfill").fillna(method="ffill")
    df["enmo_rolling"] = df["enmo"].rolling(periods,center=True).mean().fillna(method="bfill").fillna(method="ffill")
    df["anglez_diff_rolling"] = df["anglez_diff"].rolling(periods,center=True).mean().fillna(method="bfill").fillna(method="ffill")
    df["enmo_diff_rolling"] = df["enmo_diff"].rolling(periods,center=True).mean().fillna(method="bfill").fillna(method="ffill")
    
features = ["hour","anglez_times_enmo",
           "anglez","anglez_diff","anglez_rolling","anglez_diff_rolling",
           "enmo","enmo_diff","enmo_rolling","enmo_diff_rolling"]

In [14]:
train

,series_id,step,timestamp,anglez,enmo,hour,anglez_times_enmo,anglez_diff,enmo_diff,anglez_rolling,enmo_rolling,anglez_diff_rolling,enmo_diff_rolling
0,038441c925bb,0,2018-08-14 19:30:00+00:00,2.636700,0.0217,19,0.057216,-82.651405,-0.0079,-26.215138,0.018090,-82.651405,-0.007900
1,038441c925bb,1,2018-08-14 19:30:05+00:00,2.636800,0.0215,19,0.056691,-82.651405,-0.0079,-26.215138,0.018090,-82.651405,-0.007900
2,038441c925bb,2,2018-08-14 19:30:10+00:00,2.637000,0.0216,19,0.056959,-82.651405,-0.0079,-26.215138,0.018090,-82.651405,-0.007900
3,038441c925bb,3,2018-08-14 19:30:15+00:00,2.636800,0.0213,19,0.056164,-82.651405,-0.0079,-26.215138,0.018090,-82.651405,-0.007900
4,038441c925bb,4,2018-08-14 19:30:20+00:00,2.636800,0.0215,19,0.056691,-82.651405,-0.0079,-26.215138,0.018090,-82.651405,-0.007900
...,...,...,...,...,...,...,...,...,...,...,...,...,...
127946335,fe90110788d2,592375,2017-09-08 04:14:35+00:00,-27.277500,0.0204,4,0.556461,-42.998100,0.0030,-19.529788,0.014656,-34.198950,0.009474
127946336,fe90110788d2,592376,2017-09-08 04:14:40+00:00,-27.032499,0.0233,4,0.629857,-45.973801,-0.1238,-19.529788,0.014656,-34.198950,0.009474
127946337,fe90110788d2,592377,2017-09-08 04:14:45+00:00,-26.841200,0.0202,4,0.542192,-17.404999,-0.0709,-19.529788,0.014656,-34.198950,0.009474
127946338,fe90110788d2,592378,2017-09-08 04:14:50+00:00,-26.723900,0.0199,4,0.531806,-27.441000,0.0185,-19.529788,0.014656,-34.198950,0.009474
127946339,fe90110788d2,592379,2017-09-08 04:14:55+00:00,-31.521601,0.0205,4,0.646193,-31.654902,0.0184,-19.529788,0.014656,-34.198950,0.009474

Modeling

In [8]:
train.head()

,series_id,step,timestamp,anglez,enmo,hour,anglez_times_enmo,anglez_diff,enmo_diff,anglez_rolling,enmo_rolling,anglez_diff_rolling,enmo_diff_rolling
0,038441c925bb,0,2018-08-14 19:30:00+00:00,2.6367,0.0217,19,0.057216,-82.651405,-0.0079,-26.215138,0.01809,-82.651405,-0.0079
1,038441c925bb,1,2018-08-14 19:30:05+00:00,2.6368,0.0215,19,0.056691,-82.651405,-0.0079,-26.215138,0.01809,-82.651405,-0.0079
2,038441c925bb,2,2018-08-14 19:30:10+00:00,2.6370,0.0216,19,0.056959,-82.651405,-0.0079,-26.215138,0.01809,-82.651405,-0.0079
3,038441c925bb,3,2018-08-14 19:30:15+00:00,2.6368,0.0213,19,0.056164,-82.651405,-0.0079,-26.215138,0.01809,-82.651405,-0.0079
4,038441c925bb,4,2018-08-14 19:30:20+00:00,2.6368,0.0215,19,0.056691,-82.651405,-0.0079,-26.215138,0.01809,-82.651405,-0.0079

In [7]:
%%time

from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=50,
                                    max_depth=4,
                                    min_samples_leaf=50)

X_train = train[features]
y_train = train["awake"]

classifier.fit(X_train, y_train)

KeyError: 'awake'

In [ ]:
X_test = test[features]
test["score"] = classifier.predict_proba(X_test)[:,1]

In [ ]:
test["not_awake"] = 1-test["score"]
# smoothing of the predictions
smoothing_length = 2*250
test["smooth"] = test["not_awake"].rolling(smoothing_length,center=True).mean().fillna(method="bfill").fillna(method="ffill")
# re-binarize
test["smooth"] = test["smooth"].round()

# https://stackoverflow.com/questions/73777727/how-to-mark-start-end-of-a-series-of-non-null-and-non-0-values-in-a-column-of-a
def get_event(df):
    lstCV = zip(df.series_id, df.smooth)
    lstPOI = []
    for (c, v), g in groupby(lstCV, lambda cv: 
                            (cv[0], cv[1]!=0 and not pd.isnull(cv[1]))):
        llg = sum(1 for item in g)
        if v is False: 
            lstPOI.extend([0]*llg)
        else: 
            lstPOI.extend(['onset']+(llg-2)*[0]+['wakeup'] if llg > 1 else [0])
    return lstPOI

test["event"] = get_event(test)

In [ ]:
sample_submission = test.loc[test["event"] != 0][["series_id","step","event","score"]].copy().reset_index(drop=True).reset_index(names="row_id")
# sample_submission.to_csv('submission_rf.csv', index=False)