https://wonhwa.tistory.com/16

In [1]:
import requests
import pprint

In [2]:
url = 'http://openapi.seoul.go.kr:8088/sample/xml/CardSubwayStatsNew/1/5/20220301'

# encoding = ''
# decoding = ''

response = requests.get(url)

# xml 내용
content = response.text

# 깔끔한 출력 위한 코드
pp = pprint.PrettyPrinter(indent=4)
print(pp.pprint(content))

('<?xml version="1.0" encoding="UTF-8"?>\n'
 '<CardSubwayStatsNew>\n'
 '<list_total_count>593</list_total_count>\n'
 '<RESULT>\n'
 '<CODE>INFO-000</CODE>\n'
 '<MESSAGE>정상 처리되었습니다</MESSAGE>\n'
 '</RESULT>\n'
 '<row>\n'
 '<USE_DT>20220301</USE_DT>\n'
 '<LINE_NUM>1호선</LINE_NUM>\n'
 '<SUB_STA_NM>서울역</SUB_STA_NM>\n'
 '<RIDE_PASGR_NUM>20994</RIDE_PASGR_NUM>\n'
 '<ALIGHT_PASGR_NUM>19468</ALIGHT_PASGR_NUM>\n'
 '<WORK_DT>20220304</WORK_DT>\n'
 '</row>\n'
 '<row>\n'
 '<USE_DT>20220301</USE_DT>\n'
 '<LINE_NUM>1호선</LINE_NUM>\n'
 '<SUB_STA_NM>시청</SUB_STA_NM>\n'
 '<RIDE_PASGR_NUM>12439</RIDE_PASGR_NUM>\n'
 '<ALIGHT_PASGR_NUM>12379</ALIGHT_PASGR_NUM>\n'
 '<WORK_DT>20220304</WORK_DT>\n'
 '</row>\n'
 '<row>\n'
 '<USE_DT>20220301</USE_DT>\n'
 '<LINE_NUM>1호선</LINE_NUM>\n'
 '<SUB_STA_NM>종각</SUB_STA_NM>\n'
 '<RIDE_PASGR_NUM>15750</RIDE_PASGR_NUM>\n'
 '<ALIGHT_PASGR_NUM>13544</ALIGHT_PASGR_NUM>\n'
 '<WORK_DT>20220304</WORK_DT>\n'
 '</row>\n'
 '<row>\n'
 '<USE_DT>20220301</USE_DT>\n'
 '<LINE_NUM>1호선</LINE_NUM>\n'
 '<SUB_STA_NM>종로3가</SUB_STA_NM>\n'
 '<RIDE_PASGR_NUM>16349</RIDE_PASGR_NUM>\n'
 '<ALIGHT_PASGR_NUM>14533</ALIGHT_PASGR_NUM>\n'
 '<WORK_DT>20220304</WORK_DT>\n'
 '</row>\n'
 '<row>\n'
 '<USE_DT>20220301</USE_DT>\n'
 '<LINE_NUM>1호선</LINE_NUM>\n'
 '<SUB_STA_NM>종로5가</SUB_STA_NM>\n'
 '<RIDE_PASGR_NUM>14036</RIDE_PASGR_NUM>\n'
 '<ALIGHT_PASGR_NUM>13472</ALIGHT_PASGR_NUM>\n'
 '<WORK_DT>20220304</WORK_DT>\n'
 '</row>\n'
 '</CardSubwayStatsNew>\n')
None

In [4]:
type(content)

str

In [45]:
from os import name
import xml.etree.ElementTree as et
import pandas as pd
import bs4
from lxml import html
from urllib.parse import urlencode, quote_plus, unquote

#bs4 사용하여 item 태그 분리
xml_obj = bs4.BeautifulSoup(content,'lxml-xml')
rows = xml_obj.findAll('row') # item 으로 구분되어 있는 경우도 있음
print(rows)

[<row>
<USE_DT>20220301</USE_DT>
<LINE_NUM>1호선</LINE_NUM>
<SUB_STA_NM>서울역</SUB_STA_NM>
<RIDE_PASGR_NUM>20994</RIDE_PASGR_NUM>
<ALIGHT_PASGR_NUM>19468</ALIGHT_PASGR_NUM>
<WORK_DT>20220304</WORK_DT>
</row>, <row>
<USE_DT>20220301</USE_DT>
<LINE_NUM>1호선</LINE_NUM>
<SUB_STA_NM>시청</SUB_STA_NM>
<RIDE_PASGR_NUM>12439</RIDE_PASGR_NUM>
<ALIGHT_PASGR_NUM>12379</ALIGHT_PASGR_NUM>
<WORK_DT>20220304</WORK_DT>
</row>, <row>
<USE_DT>20220301</USE_DT>
<LINE_NUM>1호선</LINE_NUM>
<SUB_STA_NM>종각</SUB_STA_NM>
<RIDE_PASGR_NUM>15750</RIDE_PASGR_NUM>
<ALIGHT_PASGR_NUM>13544</ALIGHT_PASGR_NUM>
<WORK_DT>20220304</WORK_DT>
</row>, <row>
<USE_DT>20220301</USE_DT>
<LINE_NUM>1호선</LINE_NUM>
<SUB_STA_NM>종로3가</SUB_STA_NM>
<RIDE_PASGR_NUM>16349</RIDE_PASGR_NUM>
<ALIGHT_PASGR_NUM>14533</ALIGHT_PASGR_NUM>
<WORK_DT>20220304</WORK_DT>
</row>, <row>
<USE_DT>20220301</USE_DT>
<LINE_NUM>1호선</LINE_NUM>
<SUB_STA_NM>종로5가</SUB_STA_NM>
<RIDE_PASGR_NUM>14036</RIDE_PASGR_NUM>
<ALIGHT_PASGR_NUM>13472</ALIGHT_PASGR_NUM>
<WORK_DT>20220304</WORK_DT>
</row>]

In [46]:
# 각 행의 컬럼, 이름, 값을 가지는 리스트 만들기
row_list = [] # 행값
name_list = [] # 열이름값
value_list = [] #데이터값

# xml 안의 데이터 수집
for i in range(0, len(rows)):
    columns = rows[i].find_all()
    #첫째 행 데이터 수집
    for j in range(0,len(columns)):
        if i ==0:
            # 컬럼 이름 값 저장
            name_list.append(columns[j].name)
        # 컬럼의 각 데이터 값 저장
        value_list.append(columns[j].text)
    # 각 행의 value값 전체 저장
    row_list.append(value_list)
    # 데이터 리스트 값 초기화
    value_list=[]

In [47]:
#xml값 DataFrame으로 만들기
test_df = pd.DataFrame(row_list, columns=name_list)
print(test_df.head())

     USE_DT LINE_NUM SUB_STA_NM RIDE_PASGR_NUM ALIGHT_PASGR_NUM   WORK_DT
0  20220301      1호선        서울역          20994            19468  20220304
1  20220301      1호선         시청          12439            12379  20220304
2  20220301      1호선         종각          15750            13544  20220304
3  20220301      1호선       종로3가          16349            14533  20220304
4  20220301      1호선       종로5가          14036            13472  20220304

In [48]:
test_df

     USE_DT LINE_NUM SUB_STA_NM RIDE_PASGR_NUM ALIGHT_PASGR_NUM   WORK_DT
0  20220301      1호선        서울역          20994            19468  20220304
1  20220301      1호선         시청          12439            12379  20220304
2  20220301      1호선         종각          15750            13544  20220304
3  20220301      1호선       종로3가          16349            14533  20220304
4  20220301      1호선       종로5가          14036            13472  20220304