In [2]:
import pandas as pd

In [5]:
time = pd.read_csv('G:/내 드라이브/취업/Contest/2307_PublicData/data/지상관측_시간_9246057.csv', sep=',', index_col=0)
day = pd.read_csv('G:/내 드라이브/취업/Contest/2307_PublicData/data/지상관측_일.csv', sep=',', index_col=0)
elec = pd.read_csv('G:/내 드라이브/취업/Contest/2307_PublicData/data/5분단위_전력수요량_최근포함.csv', sep=',', index_col=0)

C:\Users\hslio\AppData\Local\Temp\ipykernel_19920\1363019696.py:1: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  time = pd.read_csv('G:/내 드라이브/취업/Contest/2307_PublicData/data/지상관측_시간_9246057.csv', sep=',', index_col=0)
C:\Users\hslio\AppData\Local\Temp\ipykernel_19920\1363019696.py:3: DtypeWarning: Columns (1,2,4,5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  elec = pd.read_csv('G:/내 드라이브/취업/Contest/2307_PublicData/data/5분단위_전력수요량_최근포함.csv', sep=',', index_col=0)

In [6]:
time

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,90,속초,2012-01-01 00:00,-0.5,0.0,NaN,NaN,0.9,0.0,50.0,...,10.0,1500.0,NaN,NaN,-2.3,0.0,NaN,NaN,NaN,NaN
1,90,속초,2012-01-01 01:00,0.3,0.0,NaN,NaN,1.2,0.0,290.0,...,NaN,NaN,NaN,NaN,-2.5,0.0,NaN,NaN,NaN,NaN
2,90,속초,2012-01-01 02:00,0.3,0.0,NaN,NaN,1.4,0.0,320.0,...,NaN,NaN,NaN,NaN,-2.6,0.0,NaN,NaN,NaN,NaN
3,90,속초,2012-01-01 03:00,0.5,0.0,NaN,NaN,1.5,0.0,290.0,...,9.0,1200.0,13.0,NaN,-2.5,0.0,NaN,NaN,NaN,NaN
4,90,속초,2012-01-01 04:00,0.3,0.0,NaN,NaN,1.5,0.0,290.0,...,9.0,1200.0,NaN,NaN,-2.8,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9246052,295,남해,2023-03-12 20:00,6.1,NaN,NaN,9.0,3.8,NaN,290.0,...,41.0,2000.0,NaN,NaN,5.5,NaN,NaN,NaN,NaN,NaN
9246053,295,남해,2023-03-12 21:00,4.9,NaN,NaN,9.0,4.4,NaN,290.0,...,66.0,2000.0,NaN,NaN,3.9,NaN,NaN,NaN,NaN,NaN
9246054,295,남해,2023-03-12 22:00,3.8,NaN,NaN,9.0,6.4,NaN,290.0,...,NaN,2000.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
9246055,295,남해,2023-03-12 23:00,3.4,NaN,NaN,9.0,5.4,NaN,320.0,...,NaN,2000.0,NaN,NaN,1.2,NaN,NaN,NaN,NaN,NaN
9246056,295,남해,2023-03-13 00:00,3.1,NaN,NaN,9.0,6.1,NaN,320.0,...,NaN,2000.0,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN

In [10]:
time.columns

Index(['지점', '지점명', '일시', '기온(°C)', '기온 QC플래그', '강수량(mm)', '강수량 QC플래그',
       '풍속(m/s)', '풍속 QC플래그', '풍향(16방위)', '풍향 QC플래그', '습도(%)', '습도 QC플래그',
       '증기압(hPa)', '이슬점온도(°C)', '현지기압(hPa)', '현지기압 QC플래그', '해면기압(hPa)',
       '해면기압 QC플래그', '일조(hr)', '일조 QC플래그', '일사(MJ/m2)', '일사 QC플래그', '적설(cm)',
       '3시간신적설(cm)', '전운량(10분위)', '중하층운량(10분위)', '운형(운형약어)', '최저운고(100m )',
       '시정(10m)', '지면상태(지면상태코드)', '현상번호(국내식)', '지면온도(°C)', '지면온도 QC플래그',
       '5cm 지중온도(°C)', '10cm 지중온도(°C)', '20cm 지중온도(°C)', '30cm 지중온도(°C)'],
      dtype='object')

In [7]:
day

,YYMMDD,STN,WS,WR,WD,WS.1,WS.2,WD.1,WS.3,WS.4,...,RN.8,SD,SD.1,SD.2,SD.3,TE,TE.1,TE.2,TE.3,TE.4
0,20120101,90,2.2,1915,29,5.7,1714,29,9.8,1420,...,-9,-9.0,-9,1.6,1,-99.0,-99.0,-99.0,-99.0,-99.0
1,20120101,95,1.2,1077,34,4.8,1414,34,7.8,1407,...,-9,-9.0,-9,-9.0,-9,1.4,5.0,-99.0,-99.0,-99.0
2,20120101,98,1.8,1585,29,7.4,1445,29,11.0,1439,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0
3,20120101,99,1.5,1313,29,6.0,1546,32,8.8,1607,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0
4,20120101,100,4.5,3868,27,6.7,332,27,10.1,1233,...,-9,0.3,2400,22.7,2400,-99.0,-99.0,-99.0,-99.0,-99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387005,20230313,288,1.7,1483,34,4.9,932,36,8.0,926,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0
387006,20230313,289,4.2,3604,29,9.9,339,32,18.9,316,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0
387007,20230313,294,2.4,2060,29,4.4,627,25,10.3,1919,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0
387008,20230313,295,2.1,1851,32,6.5,2,32,12.3,41,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0
387009,20230313,296,2.1,1780,18,5.1,1751,27,9.2,145,...,-9,-9.0,-9,-9.0,-9,-99.0,-99.0,-99.0,-99.0,-99.0

In [8]:
elec

,공급능력(MW),현재수요(MW),최대예측수요(MW),공급예비력(MW),공급예비율(퍼센트),운영예비력(MW),운영예비율(퍼센트),기온
기준일시,,,,,,,,
2012-06-01 00:00,64355.0,51726.33,59400.0,12628.67,24.41439,12628.67,24.41439,NaN
2012-06-01 00:05,64355.0,51342.53,60800.0,13012.47,25.34442,13012.47,25.34442,NaN
2012-06-01 00:10,64355.0,51583.17,60800.0,12771.83,24.75969,12771.83,24.75969,NaN
2012-06-01 00:15,64355.0,51631.69,60800.0,12723.31,24.64245,12723.31,24.64245,NaN
2012-06-01 00:20,64355.0,51252.66,60800.0,13102.35,25.56423,13102.35,25.56423,NaN
...,...,...,...,...,...,...,...,...
2023-06-11 23:35,"83,879","56,376",NaN,"27,502",49.0,NaN,NaN,
2023-06-11 23:40,"83,950","56,231",NaN,"27,719",49.0,NaN,NaN,
2023-06-11 23:45,"83,942","55,695",NaN,"28,247",51.0,NaN,NaN,
2023-06-11 23:50,"83,847","55,543",NaN,"28,304",51.0,NaN,NaN,
2023-06-11 23:55,"83,933","55,111",NaN,"28,822",52.0,NaN,NaN,

In [19]:
# g['STN.1'].value_counts()
# g.describe()

,Unnamed: 0,YYMMDDHHMI,STN,LON,LAT,SD_TOT,SD_DAY,SD_HR3,SD_D01,SD_H03,SD_H24,SD_H01
count,787710.000000,7.877100e+05,787710.000000,787710.000000,787710.000000,787710.000000,787710.000000,787710.000000,787710.000000,787710.000000,787710.000000,787710.000000
mean,393854.500000,2.023019e+11,597.032468,127.212694,36.211299,-977.698156,-997.421608,-998.525262,-977.796305,-977.802572,-977.787059,-977.805096
std,227392.434609,7.058224e+05,336.450156,6.385347,1.290808,144.696037,39.735731,21.782104,144.025292,143.982364,144.088512,143.965171
min,0.000000,2.023010e+11,90.000000,27.972420,33.173317,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
25%,196927.250000,2.023012e+11,329.000000,126.815740,35.251770,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
50%,393854.500000,2.023021e+11,627.500000,127.471775,36.274335,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
75%,590781.750000,2.023022e+11,803.000000,128.460600,37.366840,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
max,787709.000000,2.023031e+11,5343.000000,130.898640,38.543850,78.400000,71.500000,22.100000,72.000000,24.100000,74.000000,15.300000

In [31]:
h[h['TM_FC'] == 202206010600]

,Unnamed: 0,REG_ID,TM_FC,TM_EF,MOD,STN,C,MIN,MAX,MIN_L,MIN_H,MAX_L,MAX_H
0,0,11A00101,202206010600,202206040000,A01,109,2,15.0,20.0,1,1,2,1
1,1,11A00101,202206010600,202206050000,A01,109,2,16.0,22.0,1,1,1,1
2,2,11A00101,202206010600,202206060000,A01,109,2,14.0,20.0,1,1,2,1
3,3,11A00101,202206010600,202206070000,A01,109,2,14.0,20.0,1,1,1,2
4,4,11A00101,202206010600,202206080000,A01,109,2,14.0,20.0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1603,1603,21F20804,202206010600,202206070000,A01,156,5,14.0,23.0,-999,-999,-999,-999
1604,1604,21F20804,202206010600,202206080000,A01,156,5,14.0,24.0,-999,-999,-999,-999
1605,1605,21F20804,202206010600,202206090000,A01,156,5,15.0,25.0,-999,-999,-999,-999
1606,1606,21F20804,202206010600,202206100000,A01,156,5,15.0,26.0,-999,-999,-999,-999
1607,1607,21F20804,202206010600,202206110000,A01,156,5,17.0,26.0,-999,-999,-999,-999

In [30]:
# 단기
a[a['TM_FC'] == 202206010500]

,Unnamed: 0,REG_ID,TM_FC,TM_EF,MOD,NE,STN,C,MAN_ID,MAN_FC,W1,T,W2,TA,ST,SKY,PREP,WF
0,0,11A00101,202206010500,202206010000,A02,0,109,2,lan98,이혜란,SE,1,S,-99,30,DB03,0,"""구름많음"""
1,1,11A00101,202206010500,202206011200,A02,1,109,2,lan98,이혜란,S,1,SW,21,0,DB01,0,"""맑음"""
2,2,11A00101,202206010500,202206020000,A02,2,109,2,lan98,이혜란,SE,1,S,14,0,DB01,0,"""맑음"""
3,3,11A00101,202206010500,202206021200,A02,3,109,2,lan98,이혜란,S,1,SW,20,0,DB01,0,"""맑음"""
4,4,11A00101,202206010500,202206030000,A02,4,109,2,lan98,이혜란,SE,1,S,14,0,DB01,0,"""맑음"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1603,1603,21F20804,202206010500,202206021200,A02,3,156,2,hlkim,김혜림,SW,1,W,25,0,DB01,0,"""맑음"""
1604,1604,21F20804,202206010500,202206030000,A02,4,156,2,hlkim,김혜림,S,1,SW,15,0,DB01,0,"""맑음"""
1605,1605,21F20804,202206010500,202206031200,A02,5,156,2,hlkim,김혜림,SW,1,W,27,0,DB01,0,"""맑음"""
1606,1606,21F20804,202206010500,202206040000,A02,6,156,2,hlkim,김혜림,E,1,SE,16,20,DB03,0,"""구름많음"""
1607,1607,21F20804,202206010500,202206041200,A02,7,156,2,hlkim,김혜림,E,1,SE,27,30,DB04,0,"""흐림"""

In [35]:
k

,Unnamed: 0,TM_FC,TM_EF,TM_IN,STN,REG_ID,WRN,LVL,CMD,GRD,CNT,RPT
0,0,202206011000,202206011000,202206010852,105,L1027020,D,2,1,0,4,101
1,1,202206011000,202206011000,202206010908,143,L1071300,D,2,1,0,4,101
2,2,202206031600,202206031600,202206031535,105,L1020110,D,2,3,0,4,101
3,3,202206031600,202206031600,202206031535,105,L1020210,D,2,3,0,4,101
4,4,202206031600,202206031600,202206031535,105,L1020300,D,2,3,0,4,101
...,...,...,...,...,...,...,...,...,...,...,...,...
21260,21260,202303122200,202303130000,202303122135,105,S1152020,V,3,6,0,4,101
21261,21261,202303122200,202303122300,202303122009,184,S1324210,V,3,6,0,4,101
21262,21262,202303130000,202303130000,202303122357,156,S1231300,V,3,6,0,4,101
21263,21263,202303130000,202303130000,202303122357,156,S1231400,V,3,6,0,4,101
21264,21264,202303130000,202303130000,202303122357,156,S1231500,V,3,6,0,4,101

In [36]:
g

,Unnamed: 0,YYMMDDHHMI,STN,STN.1,LON,LAT,STN.2,SD_TOT,SD_DAY,SD_HR3,SD_D01,SD_H03,SD_H24,SD_H01
0,0,202301010000,90,속초,128.56473,38.25085,000-----,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
1,1,202301010100,90,속초,128.56473,38.25085,000-----,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
2,2,202301010200,90,속초,128.56473,38.25085,000-----,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
3,3,202301010300,90,속초,128.56473,38.25085,000-----,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
4,4,202301010400,90,속초,128.56473,38.25085,000-----,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787705,787705,202303122000,5343,포항,129.37963,36.03259,000-----,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
787706,787706,202303122100,5343,포항,129.37963,36.03259,000-----,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
787707,787707,202303122200,5343,포항,129.37963,36.03259,000-----,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
787708,787708,202303122300,5343,포항,129.37963,36.03259,000-----,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
787709,787709,202303130000,5343,포항,129.37963,36.03259,000-----,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0